pdfplumber
PyPDF2
pymupdf
nltk
spacy
transformers
sentence-transformers
beautifulsoup4
torch
scikit-learn
pandas
numpy
fastapi
jinja2
uvicorn
SymPy
latex2image
scipy
faiss-cpu
unidecode
python-multipart
SymPy
MathJax
latex2image
scipy